this is admin/endusers index
<h1>会員一覧</h1>
<table class="table">
    <thead>
        <th >会員ID</th>
        <th >氏名</th>
        <th >メールアドレス</th>
        <th >ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @end_users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.last_name + " " +  user.first_name %></td>
            <td><%= user.email%></td>
            <% if user.is_active == true%>
            <td>有効</td>
            <% else %>
            <td>無効</td>
            <% end %>
        </tr>
        <% end %>

    </tbody>
</table>